body {
  margin: 0;
  padding: 0;
  background-color: #4a4e78;
  color: #fee506;
  font-weight: 700;
}
.main-container {
  direction: rtl;
}
.settings-container {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.settings {
  width: 140px;
  height: 70px;
  background-color: azure;
}
.settings__close {
  display: flex;
}
.settings__close__title {
  width: 80%;
  padding: 0;
  margin-top: 5px;
}
.settings--btn {
  width: 20%;
}
.settings__list {
  padding: 0;
  list-style: none;
}
.settings__list__item {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}
.flex-item {
  width: 33.33%;
}
.flex-item__content label {
  font-size: 16px;
  line-height: 25px;
  color: #fee506;
  text-transform: uppercase;
}
.flex-item:nth-child(2) {
  align-self: center;
}
.input-item {
  height: 25px;
  font-size: 16px;
  color: #000000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.initial-name {
  display: inline-block;
  padding: 0 25px;
}
.button-convert {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: #66be59;
  border: none;
  border-radius: 10px;
}
.option-value {
  margin-top: 25px;
  width: 60%;
  height: 40px;
  background-color: #00b7ec;
  font-size: 16px;
  text-transform: uppercase;
  color: #1800ff;
  border-radius: 10px;
}
